<section class="mt-2">
  <div class="container">
    <div class="row g-4">
      @for (offer of Offers.slice(0, 2); track $index) {
      <div class="col-lg-6">
        <figure>
          <img [src]="offer" alt="offer" class="w-100" />
        </figure>
      </div>
      }
    </div>

    <div class="row g-4 mt-1">
      @for (offer of Offers.slice(2, 5); track $index) {
      <div class="col-lg-4">
        <figure>
          <img [src]="offer" alt="offer" class="w-100" />
        </figure>
      </div>
      }
    </div>
  </div>
</section>
