$font-roboto: 'Roboto', sans-serif;
$font-barlow: 'Barlow', sans-serif;
$font-marker: 'Permanent Marker', cursive;


.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.barlow-font {
  font-family: 'Barlow', sans-serif;
}

.permanentMarker-font {
  font-family: 'Permanent Marker', cursive;
}
