// Primary Colors
$color-primary: #e7272d;
$color-secondary: #1e1e1e;

// Neutral Colors
$color-white: #ffffff;
$color-light-gray: #f7f7f7;
$color-gray: #aaaaaa;
$color-dark-gray: #444444;
$color-black: #000000;

// Accent
$color-yellow: #ffba00;
