/* You can add global styles to this file, and also import other style files */
@use "./styles/_variables" as *;
@use "./styles/_fonts" as *;
@use "swiper/swiper-bundle.min.css";

a {
  text-decoration: none;
  color: inherit;
}

.primary-color {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.barlow-font {
  font-family: "Barlow", sans-serif;
}

.permanentMarker-font {
  font-family: "Permanent Marker", cursive;
}

.cr {
  cursor: pointer !important;
}

.btn-yellew {
  background-color: $color-primary;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 0.5rem 15px;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 50rem;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: #f6060e;
  }
}

// Special Offers Section
section {
  .secondTitle {
    font-family: $font-barlow;
    font-weight: 900;
    font-size: 3.5rem;
    color: $color-secondary;
    text-align: center;
    margin-bottom: 1rem;
  }
}
