/* You can add global styles to this file, and also import other style files */
@use "./styles/_variables" as *;
@use "./styles/_fonts" as *;
@use "swiper/swiper-bundle.min.css";

.primary-color {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.barlow-font {
  font-family: "Barlow", sans-serif;
}

.permanentMarker-font {
  font-family: "Permanent Marker", cursive;
}

.cr {
  cursor: pointer !important;
}

// Special Offers Section
section {
  .secondTitle {
    font-family: $font-barlow;
    font-weight: 900;
    font-size: 3.5rem;
    color: $color-secondary;
    text-align: center;
    margin-bottom: 1rem;
  }
}
